head
	title PW Simulator
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(name="apple-mobile-web-app-capable" content="yes")
	meta(name="mobile-web-app-capable" content="yes")
	link(rel="manifest" href="manifest.json")
body
	+header
	
	main.content
		+Router

	footer
		span ©2016 - Murilobast
			a(href="http://murilobast.com" target="_blank") murilobastos.com
		//- +contact

template(name="index")
	+chest
	+forge