head
	meta(name="viewport" content="width=device-width, initial-scale=1")

	// SEO
	meta(name="language" content="Portuguese")
	meta(http-equiv="content-language" content="pt")
	meta(name="og:image" content="launcher-icon-0-75x.png")
	meta(name="og:type " content="website")
	meta(name="og:locale" content="pt_br")
	meta(name="google-site-verification" content="xK1TMl_QbLUOrMU0oqXYNZZrNjUBpLgF8Nl07Qh1QV4")
		
	// Chorme/Android app
	meta(name="apple-mobile-web-app-capable" content="yes")
	meta(name="mobile-web-app-capable" content="yes")
	link(rel="canonical" href="http://pwsimulator.com")
	link(rel="icon" type="image/png" href="launcher-icon-0-75x.png")
	link(rel="manifest" href="manifest.json")
body
	+header
	
	main.content
		+Router

	footer
		span ©2016 - Murilo Bastos
			a(href="http://murilobastos.com" target="_blank") murilobastos.com