head
	meta(name="viewport" content="width=device-width, initial-scale=1")

	// Chorme/Android app
	link(rel="icon" type="image/png" href="launcher-icon-0-75x.png")
	link(rel="manifest" href="manifest.json")
	meta(name="apple-mobile-web-app-capable" content="yes")
	meta(name="mobile-web-app-capable" content="yes")
body
	+header
	
	main.content
		+Router

	footer
		span ©2016 - Murilobast
			a(href="http://murilobast.com" target="_blank") murilobastos.com
		//- +contact

template(name="index")
	+chest
	+forge