head
	title PW Roulette
body
	h1.title PW Roulette
	+Router

	footer
		span © COPYRIGHT 2015 - Murilo Bastos
			a(href="http://murilobast.com" target="_blank") murilobast.com

template(name="index")
	+chest
	+forge