head
	title PW Roulette
	meta(name="viewport" content="width=device-width, initial-scale=1")
body
	+header
	
	main.content
		+Router

	footer
		span ©2016 - Murilobast
			a(href="http://murilobast.com" target="_blank") murilobastos.com
		//- +contact

template(name="index")
	+chest
	+forge