body, html
	background-color #666
	font-family 'Arial'
	padding 20px
	
p, h3
	margin 0
	padding 0

.title
	color #FFF
	font-size 24px
	text-align center
	
footer
	position fixed
	bottom 6px
	left 0
	right 0
	width 100%
	color #FFF
	text-align center
	font-size 14px 
	a
		color #FFF
		font-weight bold
		
.floating
	position relative
	&__text
		font-size 12px 
		position absolute
		top 40px
		left 0
		border-radius 3px
		padding 4px 8px
		color #FFF 
		box-sizing border-box
		background-color rgba(0, 0, 0, .8)
		z-index 5
		display none
		white-space nowrap
		&.show
			display block 
		&:before
			content ''
			border-radius 3px
			position absolute
			top 1px
			bottom 1px
			right 1px
			left 1px
			border 1px solid #76644a
