.diceroll
	background-color rgba(51, 51, 51, .6)
	border-radius 2px
	padding 16px 8px
	color #FFF
	max-width 95%
	margin 16px auto 48px
	box-shadow 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
	&__form
		max-width 260px 
		margin auto
		text-align center
		&__info
			label
				display block
				font-size 18px
				font-weight normal
			input
				background-color transparent
				border 1px solid rgba(0, 0, 0, .3)
				width 300px
				outline 0
				padding 2px 4px 
				border-radius 2px
		&__buttons
			font-size 0
			padding 8px 
			text-align center
			&__left, &__right
				display inline-block
				vertical-align top
				width 50%
				font-size 16px
				button
					border-radius 2px
					border 0 
					border none 
					width 100px
					outline 0
					box-shadow 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
					transition all 0.2s ease-in-out
					&:hover
						box-shadow 0 2px 5px rgba(0, 0, 0, .18), 0 2px 4px rgba(0, 0, 0, .32)
			&__left
				button
					background-color #2196F3
					&:active
						background-color rgba(33, 150, 243 ,.8) 
			&__right
				button
					background-color #f44336
					&:active
						background-color rgba(244, 67, 54 ,.8)
	&__result
		margin-top 12px 
		border-top 1px solid rgba(0, 0, 0, .3)
		padding 8px
		min-height 30vh 
		.diceResult
			font-size 0
			margin auto
			width 100%
			max-width 300px 
			&__name, &__value
				display inline-block
				width 50%
				max-width 150px 
				padding 0 6px
				font-size 14px
				margin-bottom 4px 
				box-sizing border-box
				height 24px
				line-height 24px
				vertical-align top
				position relative
			&__name
				background-color rgba(0, 0, 0, .3)
				border-radius 2px 0 0 2px
				// text-align right
			&__value
				border 1px solid rgba(0, 0, 0, .3)
				border-radius 0 2px 2px 0 
				text-align left
			&:first-of-type
				font-weight bold
			&__remove
				position absolute
				font-size 14px
				background-color #f44336
				box-shadow 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
				transition all 0.2s ease-in-out
				border 0
				font-weight normal
				border-radius 2px
				height 24px
				line-height 24px
				padding 0 6px
				margin-left 4px
				outline 0
				&:hover
					box-shadow 0 2px 5px rgba(0, 0, 0, .18), 0 2px 4px rgba(0, 0, 0, .32)
				&:active
						background-color rgba(244, 67, 54 ,.8)
	&__none
		text-align center
		margin-top 12px 
		border-top 1px solid rgba(0, 0, 0, .3)
		padding 8px
		min-height 30vh
			