.links
	padding 20px 0 20px
	text-align center

	&__items
		+above($breakpoint-mobile)
			display flex
			align-items center
			justify-content space-between
			flex-wrap wrap


	&__link
		color #fff
		font-size 18px
		display block
		height 64px
		line-height 64px
		background-color $color-darker-main
		box-shadow $depth-1
		border-radius 3px
		transition all .3s ease-in-out
		margin-bottom 20px


		&:active
			box-shadow $depth-2

		+above($breakpoint-mobile)
			width 48%

			&:last-of-type
				width 100%

	&__anchor
		display block

