template(name="home")
	.title 
		h1 Home
	.home
		ul.home__sections
			li.home__sections__section
				a(href="/forge").home__sections__section__item Reforja
			li.home__sections__section
				a(href="/chest").home__sections__section__item Abrir Baús
		if changelogs
			.home__changelog
				.home__changelog__header
					h3 Changelog
				ul.home__changelog__content
					each changelogs
						+changelog

template(name="changelog")
	li.home__changelog__content__item
		.home__changelog__content__item__desc
			span #{desc}
		.home__changelog__content__item__time
			span #{timestamp}