.post-list
	display block
	padding 20px
	margin-top 40px

	+below($breakpoint-mobile)
		padding 20px 0

	&--default
		.card__tag, .card__more, .post-list__title
			color $color-darkest-gray

	&--investimento
		.card__tag, .card__more, .post-list__title
			color $color-brand-money

	&--cartoes
		.card__tag, .card__more, .post-list__title
			color $color-brand-cards

	&--seguros
		.card__tag, .card__more, .post-list__title
			color $color-brand-insurance

	&__posts
		display flex
		text-align center
		justify-content space-between

		+below($breakpoint-mobile)
			flex-direction column

	&__post
		text-align left
		width calc(25% - 14px)
		display inline-block

		+below($breakpoint-mobile)
			width 100%
			flex-shrink 0
			display block
			margin-bottom 30px

	&__title
		font-size 25px
		line-height 29px
		letter-spacing 2.9px
		font-weight normal
		display block
		position relative
		background-color #fff
		margin-bottom 44px

		span
			background-color #fff
			display inline-block
			position relative
			z-index 1
			padding-right 13px

		&:before
			content ''
			position absolute
			left 0
			top 0
			bottom 0
			margin auto
			height 1px
			right 0
			line-height 29px
			vertical-align middle
			background-color $color-gray
