.refinning-window
	width 360px
	max-width 100%
	padding 12px
	border-radius 2px
	background-color $color-transparent
	box-sizing border-box
	box-shadow $depth-2
	color #fff

	&__header
		background-color $color-light-transparent
		padding 8px
		border-radius 2px
		box-shadow $depth-1
		margin-bottom 12px

	&__title
		font-size 20px
		font-weight normal

	&__section
		padding 8px
		background-color $color-transparent
		border-radius 2px
		margin-bottom 8px
		display flex
		flex-wrap wrap
		align-items center
		box-sizing border-box
		width 100%

	&__slot
		height 32px
		width 32px
		border 2px solid rgba(0, 0, 0, .4)
		box-shadow $depth-1
		overflow hidden
		border-radius 2px
		background-color $color-light-transparent
		margin-right 8px

	&__text
		font-size 14px

		&--top
			display block
			width 100%
			flex-shrink 0
			margin-bottom 8px

	&__name
		font-size 15px

	&__disclaimer
		font-size 14px
		line-height 18px
		font-weight normal

	&__result
		width 100%
		padding 12px 8px
		background-color $color-light-transparent
		border-radius 2px
		box-shadow $depth-1
