.title
	font-weight normal
	text-align center

	&--header
		color $color-brand
		font-size 42px
		line-height 50px
		letter-spacing 4.9px
		text-transform uppercase

		+below($breakpoint-mobile)
			font-size 30px
			line-height 35px

	&--description
		color $color-dark-gray
		font-size 18px
		line-height 37px
		letter-spacing 2px

		+below($breakpoint-mobile)
			font-size 16px
			line-height 30px
