.simulators
	background-color $color-light-gray
	margin-top 178px

	.container
		position relative

	+below($breakpoint-mobile)
		margin 100px 0

	&__posts
		font-size 0
		white-space nowrap
		padding 20px 0
		display flex
		overflow hidden

		+below($breakpoint-mobile)
			overflow auto
			padding 0

	&__post
		display inline-block
		vertical-align top
		line-height 21px
		letter-spacing 1.6px
		width 25%
		white-space normal
		padding 0 18px
		color $color-brand
		box-sizing border-box
		border-right 1px solid $color-dark-gray
		flex-shrink 0

		&last-of-typ
			border-right 0

		+below($breakpoint-mobile)
			width 70%
			line-height 17px

	&__title
		font-size 18px
		font-weight normal
		margin-bottom 14px

		+below($breakpoint-mobile)
			font-size 15px
			margin-bottom 8px

	&__description
		font-size 18px
		color $color-dark-gray

		+below($breakpoint-mobile)
			font-size 14px
			margin-bottom 11px

	&__cta
		color $color-brand
		font-size 14px

	&__fade
		display block
		height 100%
		width 30%
		position absolute
		top 0
		right 0
		background-image linear-gradient(to right, rgba(255,255,255,0) 0, $color-light-gray 78%, $color-light-gray 100%)
		pointer-events none
