template(name="header")
	header.header
		.header__content
			noindex
				a(href="#!").header__content__menu#menu
			a(href="/" title="Inicio").header__content__brand
				h3.header__content__brand__title PW Simulator
		.header__menu#side
			.header__menu__mask#mask
			.header__menu__link(class="{{isActive 'forge'}}")
				a(href="/forge" title="Roletar Adds") Roletar Adds
			.header__menu__link(class="{{isActive 'chest'}}")
				a(href="/chest" title="Abrir baús") Abrir baús