template(name="header")
	header.header
		.header__content
			.header__content__brand
				h3.header__content__brand__title PW Roulette
			.header__content__links
				.header__content__links__link
					a(href="/") Roletar Adds
				.header__content__links__link
					a(href="/chest") Abrir baús