.header
	height 78px
	background-color rgba(38,50,56,0.45)
	&__content
		max-width 960px
		margin auto
		line-height 78px 
		&__brand, &__links
			display inline-block
			line-height 78px
		&__brand
			&__title
				margin 0
				color #FFF
				font-weight normal
		&__links
			height 24px 
			line-height 24px  
			margin 0 20px 
			&__link
				display inline-block
				&:after
					transition all 0.2s ease-in-out
					content ''
					width 80% 
					margin auto
					background #FFF
					display block
					height 2px
					opacity 0
				&:hover
					&:after
						opacity 1
				a
					padding 4px 12px
					color #FFF
					text-decoration none