.itemCost
	background-image url('/assets/cost_window.png')
	width 340px
	height 155px
	clear both
	margin-bottom 6px
	position relative
	&__items
		position absolute
		top 45px
		left 19px
		&__item
			height 61px
			width 76px 
			float left 
			font-size 12px
			&__amount
				color #FFF
				padding 4px
	&__total
		position absolute
		bottom 30px
		left 234px
		font-size 12px
		color #FFF  