.itemCost
	background-image url('/assets/cost.png')
	width 314px
	height 101px
	position relative
	display inline-block
	text-align left
	margin-bottom 20px 
	&__items
		position absolute
		top 8px
		left 7px
		&__item
			height 61px
			width 76px 
			float left 
			font-size 12px
			&__amount
				color #FFF
				padding 6px
	&__total
		position absolute
		bottom 12px
		left 228px
		font-size 12px
		color #FFF
	#roulette
		position absolute
		bottom 2px
		left 8px
		padding 0
		input
			font-size 13px
			color #FFF 
			background-image url('/assets/button/_normal.png')
			background-size contain
			background-repeat no-repeat
			background-position center
			background-color transparent
			border 0
			border none
			width 80px
			height 36px
			outline 0
			cursor pointer
			&:active
				background-image url('/assets/button/_pressed.png')
				
@media (min-width: 720px)
	.itemCost
		margin-bottom 0 
		#roulette
			display none
		