.forge-window
	width 260px 
	margin auto
	// margin-top 40px
	&__icon, &__desc
		font-size 14px
	&__icon
		padding-bottom 20px
		&__img
			margin auto
			display block
	&__desc
		background-color rgba(51, 51, 51, .8)
		border-radius 3px
		padding 10px
		box-sizing border-box
		border 1px solid red
		p
			padding 2px 0 
			font-weight bold
			color #FFF 
		&__name
			font-size 14px
			color #ff6000
		&__attr
			color #3377ff !important
			strong
				font-size 16px 
			
#roulette
	padding 20px 0 0
	display block
	&__submit
		text-align center
		display block
		margin auto
		color #FFF
		background #036 
		border-radius 3px
		border 1px solid #333
		font-size 14px
		padding 4px 8px
		transition all 0.4s ease-in-out
		cursor pointer
		&:hover
			background #666 