.window
	height 520px
	font-size 0
	.forge, .info
		display inline-block
		width 50%
		vertical-align top
		position relative
.forge-window
	background-image url('/assets/forge_window.png')
	background-repeat no-repeat 
	width 340px 
	height 520px
	position absolute
	right 0
	top 0
	&__start
		position absolute
		bottom 16px
		left 97px
		width 64px
		height 21px   
		border 0  
		border none
		padding 0
		text-indent -9999px  
		overflow hidden
		background-color transparent 
		background-image url('/assets/button/normal.png')
		background-repeat no-repeat
		outline 0
		transition all 0.2s easi-in-out
		&:hover
			background-image url('/assets/button/hover.png')
		&:active
			background-image url('/assets/button/pressed.png')
		&.disabled
			background-image initial
	&__items
		position absolute
		top 98px
		right 22px
		width 296px
		height 148px
		padding 2px 0
		box-sizing border-box
		&__item
			width 32px
			height 32px
			margin 0 3px 5px 2px
			float left
			box-sizing border-box
			position relative
			&.active
				&:after
					content ''
					width 32px
					height 32px
					display block
					box-sizing border-box
					border 2px solid rgba(255, 205, 77, .6)
	&__require
		position absolute
		top 284px
		left 21px
		&__item
			height 61px
			width 76px 
			float left 
			font-size 12px
			&__amount
				color #FFF
				padding 4px 
	&__selected
		position absolute
		width 32px
		height 32px
		bottom 49px
		left 96px