.item
	position absolute
	left 0
	top 14px
	width 340px
	margin auto
	&__desc
		border-radius 3px
		padding 10px
		box-sizing border-box
		background-color rgba(51, 51, 51, .8)
		position relative
		&:before
			content ''
			border-radius 3px
			position absolute
			top 1px
			bottom 1px
			right 1px
			left 1px
			border 2px solid #76644a
		p
			font-size 13px
			padding 3px 0 
			color #FFF 
		&__name
			font-size 14px
			color #ff6000
			margin-bottom 6px
		&__attr
			color rgb(128, 128, 255) !important
		&__byme
			color rgb(128, 255, 128) !important
			
#roulette
	padding 20px 0 0
	display block
	&__submit
		text-align center
		display block
		margin auto
		color #FFF
		background #036 
		border-radius 3px
		border 1px solid #333
		font-size 14px
		padding 4px 8px
		transition all 0.4s ease-in-out
		cursor pointer
		&:hover
			background #666 