.window
	width 100%
	box-sizing border-box
	padding 16px 12px 16px
	border-radius 2px
	background-color $color-transparent
	box-shadow $depth-2
	position relative
	margin 0 auto 30px

	&__content
		background-color $color-light-transparent
		padding 30px 24px 30px
		margin-bottom 12px
		border-radius 2px
		box-shadow $depth-1

	&__options
		background-color $color-light-transparent
		padding 16px 12px 10px
		border-radius 2px
		box-shadow $depth-1
		margin-bottom 16px

	&__name
		font-size 15px
		font-weight normal
	// &__close
	// 	width 36px
	// 	height 36px
	// 	position absolute
	// 	right 16px
	// 	top 12px

	// 	&:before, &:after
	// 		content ''
	// 		position absolute
	// 		top 0
	// 		right 8px
	// 		width 2px
	// 		height 50%
	// 		background-color #fff

	// 	&:before
	// 		transform rotate(45deg)

	// 	&:after
	// 		transform rotate(-45deg)

	&__answer
		padding 12px
		background-color $color-transparent
		margin-bottom 6px
		color #fff
		opacity .5
		border-radius 2px
		cursor default

		&.is--highlight
			cursor pointer
			background-color rgba(255, 255, 255, .2)
			opacity 1
			box-shadow $depth-4

	&__title
		font-size 18px
		font-weight normal
		color #fff

