.search
	margin-top 72px
	margin-bottom 12px

	&__title
		color #fff
		font-weight normal
		font-size 18px
		display block
		
	&__input
		border 0
		width 100%
		background-color transparent
		outline 0
		font-size 18px
		line-height 32px
		color #fff
		border-bottom 2px solid $color-main
		transition all .3s ease-in-out

		&:focus
			border-bottom 2px solid #fff