.container
	box-sizing border-box
	margin auto
	max-width 100%
	padding 30px 12px
	width $container-width
	font-size 0

	+below($breakpoint-mobile)
		max-width 95%
		padding 27px 2%

	&--small
		width 1080px

	&--smaller
		width 820px
