.search
	background-color $color-transparent
	box-shadow $depth-2
	margin-bottom 20px

	+above($breakpoint-mobile)
		margin-bottom 32px

	&.is--fixed
		position absolute
		top 69px
		left 0
		right 0
		z-index 1
		margin-bottom 0

	&__title
		color #fff
		font-weight normal
		font-size 18px
		display block

	&__input
		border 0
		width 100%
		background-color transparent
		outline 0
		font-size 18px
		line-height 32px
		color #fff
		border-bottom 2px solid $color-main
		transition all .3s ease-in-out

		&:focus
			border-bottom 2px solid #fff
