.trivia-heading
	background-color $color-transparent
	padding 16px 12px
	border-radius 2px
	box-shadow $depth-2
	color #fff
	margin-bottom 20px

	+above($breakpoint-mobile)
		margin-bottom 32px

	&__title
		font-size 22px
		line-height 32px
		font-weight normal
