.bagArea
	overflow hidden
	&__chest, &__chat
		width 50% 
		float left
		position relative
	&__chat
		padding 4px 6px
		box-sizing border-box
	#chest, .bag
		display block
	#chest
		width 328px
		float right
		padding 2px 6px
		&__container
			background-color rgba(51,51,51,0.8)
			padding 2px 4px
			box-sizing border-box
			&__icon, &__name, &__submit
				display inline-block
				line-height 32px
				vertical-align top
			&__icon
				img
					display block
					margin-right 4px
			&__name
				font-size 13px
				font-weight bold 
				color #aa32ff
			&__submit
				height 32px
				text-align center
				vertical-align middle
				border none
				cursor pointer
				float right
		&__result
			background-image url('/assets/bag.png')
			background-repeat no-repeat
			width 328px
			height 152px
			padding 1px 7px
			&__item
				cursor default
				float left
				margin 3px
				height 32px 
				position relative
				//img
				span
					position absolute
					color #FFF
					top 4px
					bottom 0
					left 0
					margin auto
					line-height 32px
					font-size 13px
				&__floating
					position absolute
					top 12px
					left 8px
					border-radius 3px
					padding 4px
					color #FFF 
					box-sizing border-box
					background-color rgba(0, 0, 0, .8)
					z-index 5
					display none 
					&.show
						display block 
					&:before
						content ''
						border-radius 3px
						position absolute
						top 1px
						bottom 1px
						right 1px
						left 1px
						border 1px solid #76644a
	.chat
		font-size 13px
		background-color rgba(91,91,91,0.8)
		width 328px
		height 186px
		padding 4px 6px
		box-sizing border-box
		border-radius 4px
		color #bed293
		font-weight bold
		overflow auto
		&__msg
			padding 2px 0 
		