.bagArea
	overflow hidden
	&__chest, &__chat
		width 50% 
		float left
		position relative
	#chest, .bag
		display block
	#chest
		width 334px
		float right
		&__container
			background-image url('/assets/chest_window.png')
			height 253px
			position relative
			&__submit
				position absolute
				right 29px
				top 47px
			&__result
				position absolute
				left 14px
				right 0
				top 86px
				&__item
					width 32px
					height 32px
					margin 3px
					float left
					position relative
					span
						position absolute
						left 1px
						bottom 2px
						margin auto
						color #fff
						font-size 13px 
						padding 1px
						border-radius 3px
						background-color rgba(51,51,51,0.8)
	.chat
		font-size 13px
		background-color rgba(0,0,0,0.7)
		width 334px
		height 241px
		box-sizing border-box
		border-radius 4px
		color #bed293
		font-weight bold
		overflow auto
		margin 11px 4px
		&__msg
			padding 2px 0 
		