.drops
	background-color $color-transparent
	border-radius 3px
	box-shadow $depth-2
	padding 12px

	+above($breakpoint-mobile)
		padding 18px

	&__item
		min-height 58px
		line-height 58px
		vertical-align middle
		background-color $color-transparent
		margin-bottom 12px
		border-radius 3px
		box-shadow $depth-1
		padding 0 12px
		transition box-shadow .3s ease-in-out

		+above($breakpoint-mobile)
			width 30%
			display inline-block
			margin 0 1% 1%
			width 31.3%
			box-sizing border-box
			cursor pointer

			&:hover
				box-shadow $depth-2


	&__icon, &__info
		display inline-block
		vertical-align middle
		line-height 58px

	// &__icon

	&__info
		width calc(100% - 32px)
		box-sizing border-box
		padding-left 12px

		p
			line-height 18px
			font-size 14px
			color #fff
