body:before
	content ''
	position fixed
	top 0
	bottom 0
	width 100%
	z-index -1
	background-image url('../assets/images/bg.jpg')
	background-position center top
	background-repeat no-repeat
	background-size cover

	+below($breakpoint-mobile)
		background-size 400%

body, html, h1, h2, h3, h4, h5, p, ul, li
	padding 0
	margin 0

ul, li
	list-style none

body, html
	font-family $font-default
	-webkit-font-smoothing antialiased
	background-color $color-light-transparent
	min-height 100vh

main
	padding-top 80px

a
	text-decoration none
	color inherit

object
	display none

.adsbygoogle
	display flex
	justify-content center
	overflow hidden
	text-align center

	+above($breakpoint-mobile)
		margin-bottom 30px

	ins
		max-width: 100vw
